<div class="row">
  <div class="about col-md-offset-2 col-md-8">
    <h1>ようこそPicNovへ！</h1>
    <br>
    <div>
      <h3>PicNovはPicture&Novel、つまり写真と文章で<br>
        気軽に楽しく、誰とでも『想い』を共有できるSNSです。<br>
        写真だけでは伝わらない想い、文章だけでは伝わらない情景を<br>
        PicNovで世界中の人々と共有しませんか？<br>
        大人による、大人のための絵本がここにあります。
      </h3>
    </div>
  </div>
  <dr>
  <div class="explain-pic"></div>
</div>