<div class="row">
    <div class="top-message col-md-offset-3 col-md-6">
      <div class="hero">
        <div id="images" class="skippr">
          <div style="background-image: url(image1.jpg)"></div>
          <div style="background-image: url(image2.jpg)"></div>
          <div style="background-image: url(image3.jpg)"></div>
          <div style="background-image: url(image4.jpg)"></div>
          <div style="background-image: url(image5.jpg)"></div>
          <div style="background-image: url(image6.jpg)"></div>
          <div style="background-image: url(image7.jpg)"></div>
        </div>
        <div class="container">
          <h1>あなたの想いを<br>文字で表そう<br>写真で伝えよう</h1>
        </div>
      </div>





      <div class="btn-wrapper">
        <div class="row">
          <p>
           <%= link_to "ログインしてPicNovを始める", user_session_path, class:"btn btn-info col-xs-10 col-xs-offset-1 sign_in" %>
          </p>
        </div>
        <br>
        <div class="row">
          <p>
            <%= link_to "アカウントを登録してPicNovを始める", new_user_registration_path, class:"btn btn-success col-xs-10 col-xs-offset-1 sign_up" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>