<div class="row">
  <div class="col-md-3 side-bar">
    <h3 class="text-center">タグ一覧</h3>
    <div class="tag-index">
      <% if @tags.present? %>
        <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}(#{tag.taggings_count})", posts_path(tag_name: tag.name) %>
        <% end %>
      <% else %>
        登録されたタグはありません。
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <%= render "posts/post_list", posts: @posts %>
  </div>
</div>