/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: image-url("PP_keshigomutopen.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-size: cover;
  background-position: center;
}

#wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #CCFFFF;
  background-color: #b0c4de;
  position: sticky;
  top: 0;
  z-index:9999;
  width: 100%;
}

.title {
  font-size: 30px;
}

#error_explanation {
  color: red;
}

#error_explanation ul li {
  color: red;
}

.notice {
  color: #54626f;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
}

.container {
  height: 100%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #b0c4de;
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
}

ul.footer-menu li {
  display: inline;
}

ul.post-index-header li {
  display: inline;
}

.post-content {
  margin-top: 5%;
}

ul.post-content-list li {
   display: inline;
}

.calendar {
  padding-left: 5%;
}

.post-image .post-body {
  display: inline-block;
}

.comments_area {
  border-top: 1px solid #000;
}

.comment-new {
  margin-top : 2%;
}
.hero {
    width: 100%;
    height: 500px;
    position: relative;
}

.skippr {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hero .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    z-index: 999;
}

.top-message {
  color: #ffff00;
}

.image1 {
  background-image: image-url("image1.jpg");
}
.image2 {
  background-image: image-url("image2.jpg");
}
.image3 {
  background-image: image-url("image3.jpg");
}
.image4 {
  background-image: image-url("image4.jpg");
}
.image5 {
  background-image: image-url("image5.jpg");
}
.image6 {
  background-image: image-url("image6.jpg");
}
.image7 {
  background-image: image-url("image7.jpg");
}

.btn-wrapper .row{
  padding: 2px;
}