/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// リセット
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// application
body {
  height: 100%;
  background-image: image-url("PP_keshigomutopen.jpg");
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 75%;
}

#wrapper{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid #CCFFFF;
  background-color: #b0c4de;
  position: sticky;
  top: 0;
  z-index:9999;
  width: 100%;
  height: 100%;
}

.header-welcome {
  margin: 20px;
}

.header-name {
  font-weight: bold;
}

.header-title {
  margin: 10px;
  font-size: 30px;
}

.header-search {
  margin: 10px 50px 10px 10px;
}

#error_explanation {
  color: red;
}

#error_explanation ul li {
  color: red;
}

.notice {
  color: #54626f;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
}

.alert {
  color: red;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 18px;
}

.container {
  height: 100%;
  padding-bottom: 100px;
}

footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #b0c4de;
  text-align: center;
  margin-top: auto;
  padding-top: 20px;
}

ul.footer-menu li {
  display: inline;
}

// マイページ
.profile_image {
  margin-bottom: 3px;
}

// post
.control-label {
  margin-top: 15px;
}

.title-new {
   margin-top: 15px;
   font-size: 30px;
}
.body-new {
   margin-top: 15px;
}
.tag-new {
   margin-top: 20px;
}
.actions {
  margin: 30px 0;
}

.post-body-box {
  margin-bottom: 10px;
  height: 500px;
  overflow: scroll;
}

.post-content {
  margin-top: 5%;
}

ul.post-content-list li {
   display: inline;
   font-size:  20px;
}

.calendar {
  padding-left: 5%;
}

.post-image  {
  margin: 10px 0 0 15px;
}
.index-post {
  padding: 2px 10px;
  border: 1px solid #000;
  display: flex;
}
.index-post>.post-content {
  display: inline-block;
  padding-top: 10%;
  padding-left: 40px;
}
.field {
  margin-top: 5%;
}

// コメント
.comments_area {
  border-top: 1px solid #000;
}
.comment-new {
  margin-top : 2%;
}

// タグ
.tag-index {
  padding: 40px;
  border: 1px solid #000;
}

.tag {
  margin-top: 3px;
}

// TOP
.btn-wrapper .row{
  padding: 2px;
}
.top-message {
  color: #ffff00;
}

// ログイン・新規登録
.sign_up {
  margin-top: 5px;
}

// ABOUT
.explain-pics {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.explain-pic-new {
  background-image: image-url("PicNov-new.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #cccc;
  width: 100%;
  height: 500px;
}
.explain-pic-show {
  background-image: image-url("PicNov-show.png");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #cccc;
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

// スライダー
.hero {
    width: 100%;
    height: 500px;
    position: relative;
}
.hero-post {
  height: 500px;
}
.skippr {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image1 {
  background-image: image-url("s1-beach.jpg");
}
.image2 {
  background-image: image-url("s2-sky.jpg");
}
.image3 {
  background-image: image-url("s3-love.jpg");
}
.image4 {
  background-image: image-url("s4-squirrel.jpg");
}
.image5 {
  background-image: image-url("s5-river.jpg");
}
